[submodule "src/stejblog/themes/ananke"]
	path = src/stejblog/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "src/stejblog/themes/mini"]
	path = src/stejblog/themes/mini
	url = https://github.com/nodejh/hugo-theme-mini.git
[submodule "src/stejblog/themes/pixyll"]
	path = src/stejblog/themes/pixyll
	url = https://github.com/azmelanar/hugo-theme-pixyll
